* {
    padding: 0;
    margin: 0;
  }
  body {
    width: 550px;
    height: 550px;
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-rows: 70px auto;
  }
  
  input{
    border-radius:6px;
    padding-block:5px;
    border:thin solid#61bbce;
    padding-inline:2px;
  }

  textarea{
    border-radius:6px;
    padding-block:5px;
    border:thin solid#61bbce;
    padding-inline:2px;
    resize: none;
  }

  input:focus{
    outline: none !important;
    border:thin solid#478996;
  }

  select{
    border-radius:6px;
    padding-block:5px;
    border:thin solid#61bbce;
    padding-inline:2px;
  }
  select:focus{
    outline: none !important;
    border:thin solid#478996;
  }
  
  
  button {
    cursor: pointer;
    min-width: 100px;
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 6px;
    border: 0;
    background-color: #61bbce;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
  
  button:hover {
    background-color: #478996;
  }

  main{
    text-align: center;
    padding: 15px;
    position: relative;
    width: 480px;
    max-width: 480px;
    overflow-x: hidden;
    box-sizing: border-box;
    max-height:100%;
    overflow-y:auto;
  }

  menu{
    padding-block: 10px;
    background-color: #478996b4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  menu div{
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-block: 6px;
  }

  menu div:nth-last-child(1){
    margin-top: auto;
  }

  menu div:hover, menu div.active:hover{
    background-color: #478996
  }

  menu div.active{
    background-color: #47899688
  }
  
  header {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #478996;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  header > h1 {
    translate: -10px 5px;
    color: #fff;
  }
  header span {
    color: red;
  }
  header > img {
    width: 65px;
  }
  
  .flexRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  .flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  
  .w-full{
    width:100%;
  }


  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #4789962e; 
    margin-block:5px;
    border-radius:10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4789968a; 
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #478996; 
  }



  #notification{
    position:fixed;
    bottom:0;
    left: 45px;
    width: 100%;
    border-radius: 0;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: opacity 0.5s ease;
  }

  .notification-show{
    opacity: 1;
  }
  .notification-hide{
    opacity: 0;
  }