

.cookie-content{
  height: 0px;
  overflow: hidden;
}


h2{
  margin-bottom: 20px;
}

.cookie-name{
  text-align: left;
  background-color: #47899671;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.cookie-name>button{
  padding: 0;
  width: 60px;
  min-width: 60px;
  font-size: 15px;
}
p{
  text-align: left;
  font-weight: 600;
}

input, textarea{
  width: calc(100% - 10px);
}
.cookie-value{
  height: 50px;
}


.tags input{
  width: 15px;
  margin-inline: 8px;
}
.tags{
  display: flex;
  justify-content: flex-start;
  margin-block: 20px;
}

#container{
  display: flex;
  flex-direction: column;
  gap:5px;
}


#refresh{
  margin-left: 20px;
  cursor: pointer;
}

#counterDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:15px;
  right: 20px;
  font-size: 20px;
  gap: 10px;
  font-weight: bold;
}


#counterDiv img{
  height: 25px;
  margin: 0;
}
#count{
  color:red;
}