#automation-head{
  display: flex;
  justify-content: center;
  position: relative;
}



#container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.operation-content{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.operation-content input, .operation-content select{
  min-width: 20px;
  width:100px;
}
.operation-content > button{
  padding: 3px;
  font-size: 12px;
  min-width: 20px;
}

#operations{
  margin-top: 20px;
  display: flex;
  gap:20px;
  justify-content: flex-end;
}

#activateBtn{
  background-color: #E15B64;
}

#activateBtn:hover{
  background-color: #dd3641;
}

.inp:disabled{
  background-color: transparent;
  border: transparent;
}


#add-automation-container{
  margin-block: 25px;

}
#select-automation-container{
  position: relative;
}
#select-automation-container > label{
  position: absolute;
  top:-16px;
  padding-left:4px;
  font-weight: 600;
}

#select-automation-del{
  width:70px;
  min-width: 10px;
  opacity: 0.7;
}
#select-automation-del:hover{
  opacity: 1;
  background-color: #dd3641;
}

#select-automation{
  width:100px;
  border-radius: 6px;
  padding-block: 5px;
  border: thin solid #61bbce;
  padding-inline: 2px;
  margin:0;
  box-sizing: border-box;
}

.flexRow{
  display: flex;
  justify-content: center;
  align-items: center;
}