
#automation-head{
  display: flex;
  justify-content: center;
  position: relative;
}

#automation-head> button{
  position:absolute;
  right:0;
}


#container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.operation-content{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.operation-content input, .operation-content select{
  min-width: 20px;
  width:100px;
}
.operation-content > button{
  padding: 3px;
  font-size: 12px;
  min-width: 20px;
}

#operations{
  margin-top: 20px;
  display: flex;
  gap:20px;
  justify-content: flex-end;
}

#activateBtn{
  background-color: #E15B64;
}

#activateBtn:hover{
  background-color: #dd3641;
}

.inp:disabled{
  background-color: transparent;
  border: transparent;
}